*{
    margin: 0;
    padding: 0;
    font-family: "Chicle";
    font-weight: 400;
}
body{   
    height: 100vh;
    width:100vw ;
}
.nav-bar{
    height: 10vh;
    width: 100vw;
    background-color:#c4eef7;
    display :flex ;
    justify-content: space-around;
    align-items: center;
}
.nav-icon{
    display :flex ;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
ul{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color:  #0c1f0d;
    gap: 40px;
    font-size: larger;
}
footer{
    height: 10vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(6, 9, 32);
    background-color:#ddf9ff ;
 }
 .main-system{
    height: 80vh;
    width: 100vw;
    background: linear-gradient(to right,rgb(0, 0, 0),rgb(0, 0, 0));
    display: flex;
   justify-content: center;
   align-items: center;
 }
 .nav-icon a:hover {
    color: rgb(221, 115, 15); /* Change icon color on hover */
}
.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: 10px;
    padding-top: 5px;
}
.insta{
    height: 30px;
    width: 30px;
}
.whatsapp{
    height: 30px;
    width: 30px;
}
.facebook{
    height: 30px;
    width: 30px;
}
.linkden{
    height: 30px;
    width: 30px;
}
.container{
    color: beige;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 8%;

}
.socialMedia a img:hover {
    transform: scale(1.1); 
  }
.container .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}
.row section .col{
    display: flex;
    flex-direction: column;
}
.row section .left{
    flex-basis: 35%;
    min-width: 320%;
    margin-right: 60px;
    background-color: yellow;
}
.row section .right{
    flex-basis: 60%;
    background-color:lightgreen;
}
.contactTitle h2{
    position: relative;
    font-size: 28px;
    color: #ddd;
    display: inline-block;
    margin-bottom: 25px;
}
section.left .contactTitle h2::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: #888;
    top: 120%;
    left:0;
}
section.left .contactTitle h2::after{
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    background-color: dodgerblue;
    top: 115% ;
    left:0;
}
section.left .contactInfo{
    margin-bottom: 16px;
}
.contactInfo .iconGroup{
    display: flex;
    align-items: center;
    margin: 40px 0px;
}
.iconGroup .icon{
    width: 45px;
    height: 45px;
    border: 2px solid dodgerblue;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
}
 .iconGroup.icon i{
      font-size: 20px;
      color: #ddd;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
}
.iconGroup .details span{
    display: block;
    color: #888;
    font-size: 18px;
}
.iconGroup .details span:nth-child(1){
     text-transform: uppercase;
     color: #ccc;
}


.row section.right .messageForm{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}
.row section .right .inputGroup{
    margin: 18px 0px;
    position: relative;
}
.messageForm .halfwidth{
    flex-basis:48% ;
}
.messageForm .fullwidth{
    flex-basis:100% ;
}
.messageForm input, .messageForm textarea{
    font-size: 18px;
    padding: 2px 0px;
    background-color: #000000;
    color: #ddd;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
}
input, textarea{
    width:40vw;
    margin: 10px;
}
.messageForm textarea{
    resize: none;
    height: 220px;
    display: block;
}
textarea::-webkit-scrollbar{
    width: 5px;
}
textarea::-webkit-scrollbar-track{
    background-color:#666 ;
    border-radius: 15px;
}
textarea::-webkit-scrollbar-track{
    background-color:dodgerblue;
    border-radius: 15px;
}
.inputGroup label{

    color: #888;
    font-size: 18px;
    transition: 0.4s;
    pointer-events: none;

}
.inputGroup label:nth-child(4) label{
    top: 2px;
}
.inputGroup input:focus~label, .inputGroup textarea:focus ~label
.inputGroup input:valid~label, .inputGroup textarea:valid ~label
{
    transform: translateY(-30px);
    font-size: 16px;
}
.inputGroup button{
    padding:8px 16px;
    font-size: 18px;
    margin-top: 1vh;
    margin-right: 27vw;
    background-color: dodgerblue;
    color: #ddd;
    border: 1px solid transparent;
    border-radius: 25px;
    outline:none;
    cursor: pointer;
    box-shadow:0px 8px 15px rgba(0,0,0.3) ;
    transition: 0.4s;
}
.inputGroup button:hover{
    background-color: #2e2e2e;
    color: dodgerblue;
    box-shadow: 0px 0px 15 px rgba(0,0,0,0.3);
    border: 1px solid dodgerblue;

}

.phone{
    position: fixed;
    left: 5.50vw;
    top: 29vh;
    margin-left: 70px;
    padding-top: 5px;
}
.phone{
    height: 25px;
    width: 25px;
}
.mail{
    position: fixed;
    left: 5.50vw;
    top: 43.23vh;
    margin-left: 70px;
    padding-top: 5px;
}
.mail{
    height: 25px;
    width: 25px;
}
.location{
    position: fixed;
    left: 5.50vw;
    top: 58vh;
    margin-left: 70px;
    padding-top: 5px;
}
.location{
    height: 25px;
    width: 25px;
}